@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    padding: 0px;
    display: flex;
    flex-direction: column;
    
    
}

img{
    height: 280px;
    width: 500px;
    object-fit: cover;
    border-radius: 5px;
    
}

/*Header & Hero-section*/


.navbar {
    background-color:#f875a9;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
    margin-bottom:50px;
   
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}


ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

li {
    font-size: 18px;
    
}

a{
    text-decoration: none;
    color: #E5E7EB;
}


.Hero-section {
   background: #FF559D;
   
}

.Hero-section {
    padding: 0px 180px;
}


.text1 {
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 100;
    padding-top: 15px;
    padding-bottom: 20px; 
    margin-bottom: 20px;
    
    
    
}


.heading1 {
    display: flex;
    flex-direction: column;
    display: inline;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-left: 10px;
    width: 30%;

   
}


.Hero-content {
    display: flex;   
    justify-content: space-between;
    margin-bottom: 100px;
    padding: 0;
    
}

button{
    background: #E5E7EB;
    color: #D01760;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
}

/*Main content section*/



main {
    padding: 0px 180px 200px;
    
}

.heading2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 50px;
    
}


.images {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.imgs > img {
    height: 150px;
    width: 250px;
    object-fit: cover;
    padding-bottom: 5px;
    border-radius: 10px;
}


.text2 {
    font-size: 18px;
    font-weight: 100;
   

}




/*Quote-section*/



.quote-section{
    background: #FFB3D1;
    padding: 60px 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   align-items: center;
    
}

.text3 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    width: 90%;
    padding-left: 100px;
    

}

.text4 {
    font-weight: 900;
    align-self: flex-end;
    margin:20px 120px 0px 0px;
}


/*Call to action section*/

.call-section {
    display: flex;
    width: 70%;
    align-self: center;
}

.calltoaction {
    background: #FF89BB;
    margin: 100px;
    padding: 40px;
    border-radius: 15px;
    width: 50%;
    color: #f3f3f3;
    flex: 1;
    display: flex;
    justify-content: space-between;

}

.heading3 {
    font-size: 26px;
    font-weight: 900;
    border-radius: 10px;
    
}

.text5 {
    padding-top: 10px;
    font-size: 13px;
    font-weight: 300;
}

.signup {
    border: 2px solid white;
}



/*Footer*/



.footer-section {
    background: #1F2937;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 10px;
}
